<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Player.Einstellungen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Player.Einstellungen>
      <setting name="Track" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Playing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Repeat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberPosition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Position" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Random" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Muting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpeedRatio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Playlist" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShowInTaskbar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SERVER" serializeAs="String">
        <value>False</value>
      </setting>
    </Player.Einstellungen>
  </userSettings>
</configuration>
